<footer class=" text-white mt-3 position-absolute">
    <div class="container-fluid px-5 footer">
      <div class="row text-center ">
        <div class="col-md-4 py-3 pl-5 text-start grand-sec">
            <h2 class=" pb-4 text-uppercase" style="color:rgb(191, 189, 189);">grand furniture</h2>
          <p >
            Grand Furniture began as a small, one-store operation in downtown Norfolk, in 1947. Founded by Rose Stein, and assisted by her two sons, Grand quickly gained the reputation as a store where customers could get both quality home furnishings and honest value. These factors have been the cornerstone upon which Grand Furniture has grown. Today, the 4th generation continues this tradition.
          </p>
          <a href="#" class="text-white text-decoration-none">About Us</a>
        </div>
  
        <div class="col-md-4 py-3 px-5 text-start">
          <h5 class="text-uppercase pb-4">Useful Links</h5>
          <ul class="list-unstyled ">
            <li><a href="#" class="text-white text-decoration-none">A Chance To Dream Grand</a></li>
            <li><a href="#" class="text-white text-decoration-none">Credit Application</a></li>
            <li><a href="#" class="text-white text-decoration-none">Career Opportunities</a></li>
            <li><a href="#" class="text-white text-decoration-none">Customer Service</a></li>
            <li><a href="#" class="text-white text-decoration-none">Frequently Asked Questions</a></li>
            <li><a href="#" class="text-white text-decoration-none">Text Messaging Disclosure</a></li>
            <li><a href="#" class="text-white text-decoration-none">Track Your Delivery</a></li>
          </ul>
        </div>
        <div class="col-md-4 py-3 px-5 text-start">
          <h5 class="text-uppercase pb-4">Social Media</h5>
          <p class="fst-italic fs-6">Follow Us on <i class="fa-solid fa-angles-right"></i> </p>
          <a href="#" class="text-white d-block text-decoration-none">
            <i class="fab fa-instagram "></i> Instagram
          </a>
          <a href="#" class="text-white d-block mb-2 text-decoration-none">
            <i class="fab fa-facebook "></i> Grand Furniture
          </a>
        </div>
      </div>
    </div>
  
    <!-- Bottom Bar -->
    <div class=" fs-6 py-4 px-4  text-white-50 bottom ">
      <p class="bot0">2024 @ All Right Reserved-Grand Furniture | <a href="#" class="text-white-50 bot2 text-decoration-none">Privacy Notice</a></p>
    </div>
    <div>
        <a href="#" class="btn mb-5  fs-5 fw-bold text-capitalize b4 text-white ">get extra $$$ off <br>join our VIP <br> Program!</a>
    </div>


  </footer>
  